body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/087/593/original/free-outdoor-cafes-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 90%;
    min-height: 100vh;
    margin: 0;
   padding: 0;
}

body::after{
    opacity: 0.5;
}

::-webkit-input-placeholder {
    font-size: 14px;
    color: white;
    text-align: center;
    font-weight: bold;
   }

#resultsBox {
   display: none;
}

#mapid {
    height: 300px; 
   }

#moreResults {
   position: relative;
   float: right;
} 

::-webkit-scrollbar {
    width: 15px;
  }

::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: orange; 
    border-radius: 5px;
  }

#map-loc {
    margin: 4px;
}