body {
    margin:0;
   padding:0;
}


#resultsBox {
   display: none;
}

#leftPane {
       position: -webkit-sticky; /* Safari */
       position: sticky;
       top: 0;
}


#mapid {
    height: 300px; 
   }

#moreResults {
   position: relative;
   float: right;
}